<div fxLayout="row" fxLayout.xs="column" style="height: auto;">
    <div fxLayout="column" fxLayoutAlign="center center" fxFlex="50" fxFlex.xs="0" color="primary">
        <router-outlet name="left"></router-outlet>
    </div>
    <div fxLayout="column" fxLayoutAlign="center center" fxFlex="50" fxFlex.xs color="primary">
        <router-outlet name="right"></router-outlet>
    </div>

    <!-- <app-login fxFlex="50" fxFlex.xs="100" color="primary" fxLayout="column"></app-login> -->
    <!-- <app-register></app-register> -->
</div>