<mat-toolbar color="primary" fxLayout="row" fxLayoutAlign="space-between center">
  <button mat-icon-button aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <span>Ejercicio Praxys</span>
  <div>
    <button mat-flat-button color="primary" disabled>
      <mat-icon aria-label="Subir Documento">file_upload</mat-icon>
      Subir

    </button>
    <button routerLink="layout/profile" mat-flat-button color="primary" aria-label="Perfil">
      <mat-icon>account_box</mat-icon>
       Ingresar

    </button>
  </div>
</mat-toolbar>